<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.em.e_przedszkolak">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/tlomale"
        android:label="@string/app_name"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Zwierzeta-->
        <activity
            android:name=".Zwierzeta.MyAnimals"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Zwierzeta.Pig"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Zwierzeta.Cat"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Zwierzeta.Rabbit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Zwierzeta.MemoryGame"
            android:screenOrientation="portrait" />
        <!-- Owoce-->
        <activity
            android:name=".Owoce.Bananna"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Owoce.MyVege"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Owoce.Cherry"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Owoce.Apple"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Owoce.Pear"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Owoce.Tomato"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Owoce.Carrot"
            android:screenOrientation="portrait" />
        <!-- Kolory-->
        <activity
            android:name=".Kolory.Blue"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Kolory.Red"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Kolory.Green"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Kolory.Yellow"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Kolory.MyColor"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Kolory.PaintModel"
            android:screenOrientation="portrait" />
        <!-- Matematyka-->
        <activity
            android:name=".Matematyka.MyMath"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematyka.plus1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematyka.minus1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematyka.razy1"
            android:screenOrientation="portrait" />
        <!-- Literki i Cyferki-->
        <activity
            android:name=".LiterkiCyferki.MyNumb"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LiterkiCyferki.Two"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LiterkiCyferki.C"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LiterkiCyferki.Three"
            android:screenOrientation="portrait" />


    </application>


</manifest>
